input{
    padding: 10px;
    /* 100% +10px(left)+10px(left) */
    width: 100%;
    box-sizing: border-box ;

    margin: 4px;
}
button{
    color: white;
    background-color: rgb(104, 160, 19);
    padding: 10px 20px;
    font-weight: bold;
}